In [7]:
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import preprocessing

In [10]:

# Read the Dataset
#dataset = datasets.load_iris()
dataset = pd.read_csv("./datasets/iris.csv")
# label_encoder = preprocessing.LabelEncoder()
# dataset["species"]= label_encoder.fit_transform(dataset["species"]) # Encoding Output Variable

In [11]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
label_encoder = preprocessing.LabelEncoder()
dataset["species"]= label_encoder.fit_transform(dataset["species"]) # Encoding Output Variable

In [13]:
dataset

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [17]:
X = dataset[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
y = dataset["species"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size=0.7)
neigh = KNeighborsClassifier(n_neighbors=3,algorithm="kd_tree") # algorithm="ball_tree"
clf = neigh.fit(X_train, y_train)
print("The accuracy on test set is {0:.2f}".format(clf.score(X_test, y_test)))

The accuracy on test set is 0.98

In [18]:
# From Scratch

In [19]:
import numpy as np

In [31]:
def euclidean_distance(x1,x2):
    distance = np.sqrt(np.sum((x1-x2)**2))
    return distance

In [32]:
euclidean_distance(np.array([5,5]),np.array([2,2]))

4.242640687119285

In [ ]:
class KNN:
    def __init__(self, k=3):
        self.k = k
    def fit(self, X,y):
        self.X_train = X
        self.y_train = y
    
    # caculating distance between testing data to all train data
    def predict(self, X):
        predictions = [self.predict_helper(x) for x in X]
    
    # Calculate one single datapoint 
    def predict_helper(self, x):
        
        # compute distances
        
        
        
        # get closest k
        
        
        # majority vote